{% extends 'admin_base.html.twig' %}

{% block body %}
<h1>{{ 'article.list'|trans }}</h1>

{% embed "decorators/_card.html.twig" with {'class': 'my-3'} %}
    {% block header %}
    <div class="d-flex justify-content-between">
        <div>{{ 'article.result_count'|trans({'count': articles|length }) }}</div>
        <a href="{{ path('app_article_new')}}" class="btn btn-success"><i class="fas fa-plus"></i> {{ 'article.new.title'|trans }}</a>
    </div>
    {% endblock %}

    {% block table %}
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>{{ 'article.image'|trans }}</th>
                    <th>{{ 'article.title'|trans }}</th>
                    <th>{{ 'article.categories'|trans }}</th>
                    <th>{{ 'article.author'|trans }}</th>
                    <th>{{ 'date.create'|trans }}</th>
                    <th>{{ 'date.update'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>
                        {% if article.image is not empty %}
                        <img src="{{ asset(article.image.webPath) }}" style="max-height: 80px"/>
                        {% endif %}
                    </td>
                    <td>{{ article.title }}</td>
                    <td>{# liste des catégories #}
                    {% for category in article.categories %}
                        <span class="badge badge-secondary m-1">{{ category }}</span>
                    {% endfor %}
                    </td>
                    <td>{{ article.user }}</td>
                    <td>{{ article.dateCreate|date('d/m/Y') }}</td>
                    <td>{{ article.dateUpdate|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endblock %}

    {% block footer %}
        {% include 'decorators/_pagination.html.twig' with {'route': 'app_article_index'} %}
    {% endblock %}

    {% endembed %}




{% endblock %}